= render partial: 'layouts/header'
.main-content.contacts-page
  .container-fluid.full-height
    .row.full-height
      .col-sm-8.side-block.-light
        = render partial: 'form'
      .col-sm-4.side-block.-dark
        .list-of-contacts
          .links-group
            .link-wrapper
              = mail_to 'sviat.minato@gmail.com', t('contacts.email'),
                class: 'link -contacts inline-block'
            .link-wrapper
              = link_to t('contacts.facebook'), 'https://www.facebook.com/sviatoslav.georgievich',
                target: '_blank', class: 'link -contacts inline-block'
            .link-wrapper
              = link_to t('contacts.instagram'), 'https://www.instagram.com/loogle18/',
                target: '_blank', class: 'link -contacts inline-block'
