= render partial: 'layouts/header'
.main-content.books-page.full-height
  .container-fluid.full-height
    .row.full-height
      .col-sm-12.-books
        .books-wrapper
          %span.text.-description
            = t('books.description')
          .book-block.inline-block
            = link_to 'assets/books/god_hates_us_all.pdf', format: :pdf, target: '_target',
              class: 'link -book' do
              = image_tag 'god_hates_us_all.jpg', class: 'cover'
            .text.-name
              Бог Ненавидит Нас Всех
          .book-block.inline-block
            = link_to 'assets/books/god_hates_us_all.pdf', format: :pdf, target: '_target',
              class: 'link -book' do
              = image_tag 'god_hates_us_all.jpg', class: 'cover'
            .text.-name
              Бог Ненавидит Нас Всех
