%nav.main-navbar.navbar.navbar-default{ class: navbar_class_modifier }
  .navbar-header
    = link_to root_path, class: 'navbar-brand' do
      = inline_svg 'icons/svg/app.svg', class: 'app-svg-icon'
    = link_to 'javascript:void(0);', 'aria-expanded' => 'false', 'data-target' => '#main-nav-list',
      'data-toggle' => 'collapse', class: 'pull-right navbar-toggle header-toggler' do
      %span.sr-only= t('layout.header.toggle_navigation')
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  #main-nav-list.main-nav-list.navbar-collapse.collapse.-no-border{ 'aria-expanded' => 'false' }
    .navbar-right.-no-margin
      %ul.nav.navbar-nav
        %li.nav-item
        %li.nav-item
          = link_to t('layout.header.my_shit'), books_path, class: 'link inline-block'
        %li.nav-item
          = link_to t('layout.header.contacts'), contacts_path, class: 'link inline-block'
